.main {

    &__error {
        width: fit-content;
    }
}
.error {

    &__container {

    }

    &__body {

    }

    &__content {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        min-width: 360px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 100px;
        margin: 0 0 10px 0;
    }

    &__text {
        font-size: 30px;
        margin: 0 0 20px 0;
    }

    &__link {
        font-size: 20px;
        color:#000000;
        padding: 3px 0;
		border-bottom: 1px #000000 solid;

		&:hover {
			color:#797979;
		}
    }

    @media (max-width: 500px) {
        &__title {
            font-size: 80px;
        }

        &__text {
            font-size: 25px;
        }

        &__link {
            font-size: 15px;
        }
    }
}
