.header {

	&__main-menu {

	}
}
.main-menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 80;
	backdrop-filter: blur(5px);

    &__container {
        display: flex;
        min-height: 80px;
        align-items: center;
		justify-content: space-between;
    }
	
    &__logo {

    }

	&__tab-header {

	}

    &__menu {
       
    }

	@media (max-width: 479px) {
        &__container {
            min-height: 70px;
        }
		&__menu {
			padding: 0px 0px 0px 20px;
		}
    }
}

.logo {
	
	&__link {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
	}
}

.tab-header {

	&__list {
		font-size: 14px;
		display: flex;
		flex-direction: row;

		@media (max-width: 900px) {
			display: none;
		}
	}

	&__item {
		
	}

	&__item:not(:last-child) {
		margin: 0px 20px 0px 0px;
	}

	&__link-wrapper {

	}

	&__link {
		color: #000000;

		&:hover {
			color:#797979;
		}

		&.active {
			color:#797979;
			border-bottom: 1px #797979 solid;
		}
	}
}

.menu {

    &__list {
        display: flex;
        flex-wrap: nowrap;
		white-space: nowrap;
    }

	&__item {

		&:not(:last-child) {
			margin: 0 20px 0 0;
		}
	}

	&__link {

	}
	
    @media (max-width: 479px) {
        &__item:not(:last-child) {
			margin: 0 10px 0 0;
		}
    }
}

.link {
	color: inherit;	
	z-index: 90;

	&__button {
		transition: all 0.2s ease;
		cursor: pointer;

		&:hover {
			color: #b2b2b2;
			transition: all 0.2s ease;
		}

		& path {
			transition: all 0.2s ease;
		}

		&:hover path {
			stroke: #b2b2b2;
		}
	}	
}
.cart-button {

	&__counter {

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	}
}
.profile-button {

}
.burger-menu {
	margin: 0px 0px 0px 10px;

	@media (min-width: 900px) {
		display: none;
	}

	& path {
		transition: transform 0.25s;
	}

	&.active path:nth-of-type(1) {
		display: none;
	}

	&.active path:nth-of-type(2) {
		transform: rotate(-45deg);
		transform-origin: 50% 50%;
	}

	&.active path:nth-of-type(3) {
		transform: rotate(45deg);
		transform-origin: 50% 50%;
	}

	&.active path:nth-of-type(4) {
		display: none;
	}
}

/*------------------------------------*/
/*---------------Drawer---------------*/
/*------------------------------------*/

.header {

	&__drawer {
		
	}
}
.drawer {
	position: fixed;
    width: 420px;
	height: 100%;
    right: 0;
    top: 0;
    z-index: 99;
	transform: translateX(120%);
	transition: 0.4s;

	overflow-y: scroll;
	&::-webkit-scrollbar { width: 0; }
	-ms-overflow-style: none;

	&__container {
		position: absolute;
		width: 100%;
		min-height: 100%;
		right: 0;
		padding: 0 15px;
		background-color: #ffffff;
		// box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 30px 20px;
		min-height: 100vh;
	}

	&__header-block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 50px;
		margin: 0px 0px 10px 0px;
	}

	&__items {
		flex: 1 1 auto;
	}
	
	&__column {
		margin: 0px 0px 20px 0px;
	}

	&__item-cart {

	}

	@media (max-width: 900px) {
		width: 520px;

		&__header-block {
			min-height: 70px;
		}
	}

	@media (max-width: 700px) {
		width: 100%;
		padding: 0;
	}

	@media (max-width: 400px) {
		&__body {
			padding: 20px 20px;
		}
	}

	&.active {
		transform: translateX(0%);	
	}
}

/*---------------Item cart---------------*/

.item-cart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__link {
		width: 100%;
	}

	&__image {
		display: block;
		width: 100px;
		height: 100px;
	}

	&__content {
		padding: 0px 0px 0px 15px;
		color: #000000;
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
	}

	&__info {
		padding: 10px 0px 0px 0px;
	}

	&__price {
		
	}

	&__remove{
		
	}

	@media (max-width: 400px) {
		flex-direction: column;

		&__remove{
			margin: 15px 0px 0px 0px;
		}
	}

	@media (max-width: 900px) {
		&__image {
			width: 120px;
			height: 120px;
		}

		&__title {
			font-size: 21px;
		}

		&__info {
			font-size: 16px;
		}
	}
}

/*---------------Amount---------------*/

.drawer {

	&__amount-block-drawer {

	}
}
.amount-block-drawer {
	min-width: 240px;

	&__total {
		display: flex;
		justify-content: space-between;
		font-size: 22px;
		padding: 0px 0px 30px 0px;
	}

	&__text {

	}

	&__amount {

	}

	&__button {
		padding: 10px 15px;
		height: 50px;
		width: 100%;
	
		border-radius: 12px;
		background: #000000;
	
		font-size: 19px;
		color: #ffffff;
	}

	@media (max-width: 900px) {
		padding: 20px 0px 0px 0px;
	}

	@media (max-width: 900px) {
		&__total {
			font-size: 27px;
		}

		&__button {
			height: 60px;
			font-size: 22px;
		}
	}
}