* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.main-menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 80;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-menu__container {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .main-menu__container {
    min-height: 70px;
  }
  .main-menu__menu {
    padding: 0px 0px 0px 20px;
  }
}

.logo__link {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.tab-header__list {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .tab-header__list {
    display: none;
  }
}
.tab-header__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.tab-header__link {
  color: #000000;
}
.tab-header__link:hover {
  color: #797979;
}
.tab-header__link.active {
  color: #797979;
  border-bottom: 1px #797979 solid;
}

.menu__list {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.menu__item:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 479px) {
  .menu__item:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

.link {
  color: inherit;
  z-index: 90;
}
.link__button {
  transition: all 0.2s ease;
  cursor: pointer;
}
.link__button:hover {
  color: #b2b2b2;
  transition: all 0.2s ease;
}
.link__button path {
  transition: all 0.2s ease;
}
.link__button:hover path {
  stroke: #b2b2b2;
}

.cart-button__counter::before {
  content: "(";
}
.cart-button__counter::after {
  content: ")";
}

.burger-menu {
  margin: 0px 0px 0px 10px;
}
@media (min-width: 900px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu path {
  transition: transform 0.25s;
}
.burger-menu.active path:nth-of-type(1) {
  display: none;
}
.burger-menu.active path:nth-of-type(2) {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}
.burger-menu.active path:nth-of-type(3) {
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.burger-menu.active path:nth-of-type(4) {
  display: none;
}

/*------------------------------------*/
/*---------------Drawer---------------*/
/*------------------------------------*/
.drawer {
  position: fixed;
  width: 420px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 99;
  transform: translateX(120%);
  transition: 0.4s;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.drawer::-webkit-scrollbar {
  width: 0;
}
.drawer__container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  right: 0;
  padding: 0 15px;
  background-color: #ffffff;
}
.drawer__body {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  min-height: 100vh;
}
.drawer__header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin: 0px 0px 10px 0px;
}
.drawer__items {
  flex: 1 1 auto;
}
.drawer__column {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 900px) {
  .drawer {
    width: 520px;
  }
  .drawer__header-block {
    min-height: 70px;
  }
}
@media (max-width: 700px) {
  .drawer {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .drawer__body {
    padding: 20px 20px;
  }
}
.drawer.active {
  transform: translateX(0%);
}

/*---------------Item cart---------------*/
.item-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-cart__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-cart__link {
  width: 100%;
}
.item-cart__image {
  display: block;
  width: 100px;
  height: 100px;
}
.item-cart__content {
  padding: 0px 0px 0px 15px;
  color: #000000;
}
.item-cart__title {
  font-size: 18px;
  font-weight: 600;
}
.item-cart__info {
  padding: 10px 0px 0px 0px;
}
@media (max-width: 400px) {
  .item-cart {
    flex-direction: column;
  }
  .item-cart__remove {
    margin: 15px 0px 0px 0px;
  }
}
@media (max-width: 900px) {
  .item-cart__image {
    width: 120px;
    height: 120px;
  }
  .item-cart__title {
    font-size: 21px;
  }
  .item-cart__info {
    font-size: 16px;
  }
}

/*---------------Amount---------------*/
.amount-block-drawer {
  min-width: 240px;
}
.amount-block-drawer__total {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding: 0px 0px 30px 0px;
}
.amount-block-drawer__button {
  padding: 10px 15px;
  height: 50px;
  width: 100%;
  border-radius: 12px;
  background: #000000;
  font-size: 19px;
  color: #ffffff;
}
@media (max-width: 900px) {
  .amount-block-drawer {
    padding: 20px 0px 0px 0px;
  }
}
@media (max-width: 900px) {
  .amount-block-drawer__total {
    font-size: 27px;
  }
  .amount-block-drawer__button {
    height: 60px;
    font-size: 22px;
  }
}

.footer {
  padding: 100px 0px 0px 0px;
}
.footer__wrapper {
  background-color: rgba(221, 221, 221, 0.2509803922);
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #3d3d3d;
  padding: 50px 0px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  margin: 15px 0px 0px 0px;
}
.footer__link {
  color: inherit;
  margin: 8px 0px 0px 0px;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__social {
  width: 30px;
}
.footer__social:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 700px) {
  .footer__body {
    flex-direction: column;
  }
  .footer__socials {
    margin: 30px 0px 0px 0px;
  }
}

.slider__range {
  height: 5px;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.slider__selected {
  height: 100%;
  left: 1px;
  right: 1px;
  position: absolute;
  border-radius: 5px;
  background-color: #000000;
}
.slider__input {
  position: relative;
}
.slider__dot {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.slider__dot::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #000000;
  background-color: #f5f5f5;
  pointer-events: auto;
  -webkit-appearance: none;
}
.slider__dot::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid #000000;
  background-color: #f5f5f5;
  pointer-events: auto;
  -moz-appearance: none;
}
.slider__price {
  margin: 25px 0px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__separator {
  padding: 0px 5px;
}
.slider__value {
  width: 30%;
  text-align: center;
  border: 1px solid #f1f1f1;
  font-size: 14px;
}
@media (max-width: 900px) {
  .slider__range {
    height: 6px;
  }
  .slider__dot {
    top: -6px;
  }
  .slider__dot::-webkit-slider-thumb {
    height: 19px;
    width: 19px;
  }
  .slider__dot::-moz-range-thumb {
    height: 14px;
    width: 14px;
  }
  .slider__separator {
    padding: 0px 10px;
  }
  .slider__value {
    border: 2px solid #f1f1f1;
    font-size: 16px;
  }
}

.cart {
  padding: 100px 0px 0px 0px;
}
.cart__body {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 40px 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}
.table__row {
  border: 1px solid rgba(170, 170, 170, 0.2509803922);
}
.table__column {
  padding: 15px;
}
@media (max-width: 700px) {
  .table__header {
    display: none;
  }
  .table__row {
    text-align: center;
  }
  .table__column {
    display: inline-block;
  }
  .table__column:nth-child(1) {
    width: 100%;
  }
}

.column {
  position: relative;
}
.column__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column__image {
  padding: 0px 15px 0px 0px;
  width: 100px;
  height: 100px;
}
.column__product {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}
@media (max-width: 700px) {
  .column__wrapper {
    flex-direction: column;
  }
  .column__image {
    width: 100%;
    padding: 0 0 100% 0;
  }
  .column__product {
    font-size: 22px;
    margin: 15px 0px 0px 0px;
  }
}

.quantity {
  display: flex;
  flex-direction: row;
}
.quantity__value {
  width: 60px;
  text-align: center;
}

/*-------------------------------------------*/
/*---------------Make an order---------------*/
/*-------------------------------------------*/
.subcart {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 0px 0px;
  align-items: center;
}
.subcart__amount-block-subcart {
  min-width: 160px;
}
@media (max-width: 700px) {
  .subcart {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .subcart__amount-block-subcart {
    margin: 30px 0px 0px 0px;
  }
}

.promo-block {
  display: flex;
  flex-direction: row;
  margin: 0px 30px 0px 0px;
}
.promo-block__input {
  border: 1px solid rgba(121, 121, 121, 0.7176470588);
  text-align: center;
  margin: 0px 20px 0px 0px;
  width: 200px;
  height: 50px;
  font-size: 15px;
}
.promo-block__button {
  padding: 10px 30px;
  height: 50px;
  width: 180px;
  background: #000000;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 700px) {
  .promo-block {
    flex-direction: column;
    margin: 0;
  }
  .promo-block__input {
    margin: 0;
    width: 180px;
  }
  .promo-block__button {
    align-self: center;
    margin: 10px 0px 0px 0px;
  }
}

.amount-block-subcart__total {
  font-size: 20px;
  font-weight: 600;
}
/*---------------Info---------------*/
.make-order__subtitle {
  font-size: 20px;
  font-weight: 600;
}
.make-order__body {
  padding: 30px 0px;
}
.make-order__row {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}
.make-order__column {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .make-order__row {
    flex-direction: column;
  }
  .make-order__table:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 420px) {
  .make-order__table {
    width: 100%;
  }
}

.table-order {
  padding: 0px 20px 0px 0px;
}
.table-order__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.table-order__row:not(:last-child) {
  padding: 0px 0px 10px 0px;
}
.table-order__column-order:first-child {
  padding: 0px 10px 0px 0px;
}
@media (max-width: 600px) {
  .table-order {
    padding: 0;
  }
}
@media (max-width: 700px) {
  .table-order__column-order {
    width: 100%;
  }
}

.column-order {
  font-size: 15px;
}
.column-order__input {
  border-bottom: 1px solid rgba(154, 154, 154, 0.2509803922);
  padding: 7px;
  height: 30px;
  width: 100%;
  min-width: 120px;
  font-size: 15px;
}
@media (max-width: 700px) {
  .column-order__input {
    border: 1px solid rgba(154, 154, 154, 0.2509803922);
  }
}

/*---------------Check block---------------*/
.check-block {
  min-width: 200px;
}
.check-block__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: #000000;
}
.check-block__content:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.check-block__radio {
  min-height: 20px;
  min-width: 20px;
  margin: 0px 10px 0px 0px;
  accent-color: #232323;
  cursor: pointer;
}
.check-block__title {
  cursor: pointer;
}

/*---------------Total block---------------*/
.total-block {
  font-size: 14px;
  padding: 15px 0px 0px 0px;
}
.total-block__content {
  display: flex;
  flex-direction: column;
  min-width: 220px;
}
.total-block__amount {
  margin: 0px 0px 5px 0px;
}
.total-block__total {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0px 0px 0px;
}
.total-block__button {
  margin: 10px 0;
  padding: 10px 30px;
  height: 50px;
  width: 210px;
  background: #000000;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
}

._arrow-prev {
  left: 5px;
}

._arrow-next {
  right: 5px;
}

/*------------------------------------------*/
/*---------------Show details---------------*/
/*------------------------------------------*/
/*---------------Product-info---------------*/
.product-info {
  padding: 100px 0px 0px 0px;
}
.product-info__container {
  display: flex;
  flex-direction: row;
}
.product-info__images {
  flex: 0 1 60%;
}
.product-info__details {
  flex: 0 1 40%;
}
@media (max-width: 1000px) {
  .product-info__container {
    flex-direction: column;
  }
}

.images__body {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .images__body {
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 700px) {
  .images__body {
    flex-direction: column-reverse;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 0px;
  width: 15%;
}
.gallery__image {
  width: 100%;
  padding: 0 0 100% 0;
  border: 1px solid rgba(170, 170, 170, 0.2509803922);
}
.gallery__image.active {
  border: 1px solid rgba(74, 74, 74, 0.3882352941);
}
.gallery__image:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
@media (max-width: 700px) {
  .gallery {
    margin: 10px 0px 0px 0px;
    flex-direction: row;
    width: 100%;
  }
  .gallery__image, .gallery__image-active {
    padding: 0 0 25% 0;
  }
  .gallery__image:not(:last-child), .gallery__image-active:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}

.carousel {
  position: relative;
  margin: 0 20px 0 0;
  width: 100%;
}
.carousel__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: 0px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-color: transparent;
  z-index: 1;
}
.carousel__button:hover path {
  stroke: #b2b2b2;
}
.carousel__button path {
  stroke: #868686;
  transition: all 0.2s ease;
}
@media (max-width: 1000px) {
  .carousel {
    margin: 0;
  }
}

.main-images {
  display: flex;
}
.main-images__image {
  display: none;
  border: 1px solid rgba(170, 170, 170, 0.2509803922);
  width: 100%;
  padding: 0 0 100% 0;
}
.main-images__image.active {
  display: block;
}

/*---------------Details---------------*/
.details {
  padding: 0px 0px 100px 0px;
}
.details__header-block {
  margin: 0px 0px 25px 0px;
}
.details__content:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.details__price {
  font-size: 19px;
  font-weight: 700;
}
.details__size-block {
  margin: 20px 0px;
}
.details__cart-button {
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 30px;
  height: 40px;
  width: 160px;
  border-radius: 12px;
  background: #000000;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}
.details__cart-button.disabled {
  pointer-events: none;
  background: #9e9e9e;
  color: #e6e6e6;
}
.details__description {
  margin: 30px 0px 0px 0px;
  font-size: 14px;
  line-height: 20px;
}
.details__description:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.subtitle {
  font-size: 13px;
  color: #868686;
  margin: 5px 0px 0px 0px;
}
.size-block__list {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
.size-block__button.disabled {
  pointer-events: none;
}
.size-block__button-wrapper:not(:last-child) {
  padding: 0px 5px 0px 0px;
}
.size-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  color: #3d3d3d;
  background-color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.size-block__button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.size-block__button.active {
  background-color: #000000;
  color: #FFFFFF;
}

/*---------------Main---------------*/
.info {
  padding: 100px 0px 0px 0px;
}
.info__body {
  text-align: center;
}
.info-block__header-block {
  padding: 0px 0px 30px 0px;
}
.info-block__title {
  font-size: 25px;
  font-weight: 550;
}
.info-block__subtitle {
  font-size: 20px;
  font-weight: 510;
  padding: 0px 0px 15px 0px;
}
.info-block__text {
  line-height: 1.5;
  max-width: 600px;
  margin: 0px auto 30px auto;
}
.info-block__text:last-child {
  margin: 0px auto 0px auto;
}
.info-block__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 700px) {
  .info-block__icon {
    margin: 0px 30px 30px 0px;
  }
}
.info-block:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.left-side {
  text-align: left;
}

.icon-visa {
  width: 100px;
  height: 30px;
}

.icon-mastercard {
  width: 90px;
  height: 70px;
}

.icon-mir {
  width: 100px;
  height: 30px;
}

.icon-sbp {
  width: 100px;
  height: 50px;
}

/*-------------------------------------*/
/*---------------General---------------*/
/*-------------------------------------*/
body {
  font-family: Montserrat;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFFFFF;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper {
  min-height: 100%;
  min-width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
@media (max-width: 1200px) {
  ._container {
    padding: 0 40px;
  }
}
@media (max-width: 700px) {
  ._container {
    padding: 0 50px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._button-svg {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  color: #3d3d3d;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  transition: all 0.2s ease;
}
._button-svg:hover {
  background-color: #000000;
  color: #FFFFFF;
}
._button-svg path {
  transition: all 0.2s ease;
}
._button-svg:hover path {
  stroke: #FFFFFF;
}

._button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  transition: all 0.2s ease-in, color 0.2s ease-in;
}
._button:hover {
  color: #ffffff;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2196078431);
  background-color: #2d2d2d;
}

.header-block__title {
  font-size: 26px;
  font-weight: 700;
}
.header-block__cancel {
  border: none;
  border-radius: 100%;
}

/*----------------------------------*/
/*----------------Main--------------*/
/*----------------------------------*/
.main {
  flex: 1 1 auto;
}
.main__closer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.15);
  display: none;
}
.tab-main {
  display: none;
  position: fixed;
  background-color: #fcfcfc;
  height: 100%;
  width: 100%;
  z-index: 70;
  transform: translateY(-120%);
  transition: 0.4s;
}
.tab-main__content {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}
.tab-main__list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.tab-main__item {
  margin: 10px auto;
}
.tab-main__link {
  color: #000000;
}
.tab-main__link:hover {
  color: #797979;
}
.tab-main__link.active {
  color: #797979;
  border-bottom: 1px #797979 solid;
}
.tab-main__footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.tab-main__copyright {
  color: #3d3d3d;
  font-size: 13px;
}
.tab-main__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}
.tab-main__social {
  width: 30px;
  cursor: pointer;
}
.tab-main__social:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 900px) {
  .tab-main {
    display: block;
  }
}
.tab-main.active {
  transform: translateY(0%);
}

/*----------------Content--------------*/
.content {
  padding: 100px 0px 60px 0px;
}
.content__body {
  display: flex;
}
@media (max-width: 700px) {
  .content__body {
    display: block;
  }
}

/*----------------Sidebar--------------*/
.sidebar__arrow {
  display: none;
  z-index: 60;
  transition: 0.4s;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}
.sidebar__arrow:hover {
  color: #b2b2b2;
  transition: all 0.2s ease;
}
.sidebar__arrow path {
  transition: all 0.2s ease;
}
.sidebar__arrow:hover path {
  stroke: #b2b2b2;
}
.sidebar__header-block {
  display: none;
}
.sidebar__content {
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.sidebar__content::-webkit-scrollbar {
  width: 0;
}
.sidebar__content.active {
  transform: translateX(0%);
}
.sidebar__body {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  padding: 15px 50px 15px 20px;
  margin: 0px 15px 0px 0px;
}
.sidebar__columns {
  display: flex;
  flex-direction: column;
}
.sidebar__column {
  width: 200px;
  margin: 0px 0px 20px 0px;
}
.sidebar__column:last-child {
  margin: 0px 0px 30px 0px;
}
.sidebar__button-block {
  width: -moz-fit-content;
  width: fit-content;
}
.sidebar__button {
  text-transform: uppercase;
  height: 45px;
  width: 160px;
  border-radius: 12px;
  background: #000000;
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;
}
.sidebar__button:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 700px) {
  .sidebar__header-block {
    min-width: 300px;
    margin: 0 auto;
  }
  .sidebar__content {
    width: 100%;
  }
  .sidebar__columns {
    align-items: center;
  }
  .sidebar__button-block {
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .sidebar__arrow {
    position: fixed;
    left: 0;
    top: 50%;
  }
  .sidebar__header-block {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar__content {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transform: translateX(-120%);
    transition: 0.4s;
  }
  .sidebar__container {
    min-height: 100%;
    padding: 0 15px;
    background-color: #ffffff;
  }
  .sidebar__body {
    min-height: 100vh;
    padding: 30px 20px;
    margin: 0;
    background-color: #ffffff;
  }
  .sidebar__columns {
    flex: 1 1 auto;
  }
  .sidebar__column {
    width: 300px;
  }
  .sidebar__button {
    height: 50px;
    width: 190px;
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .arrow-right {
    display: block;
  }
}

.filter__title {
  font-size: 18px;
  font-weight: 550;
  margin: 0px 0px 15px 0px;
}
.filter__content {
  margin: 0px 0px 0px 15px;
}
.filter__option:hover {
  font-weight: 650;
}
@media (max-width: 900px) {
  .filter__title {
    font-size: 21px;
  }
}

.option {
  display: flex;
  cursor: pointer;
}
.option:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.option__title {
  font-size: 15px;
}
.option__check {
  display: none;
}
.option__check:checked + .option__title {
  font-weight: 650;
}
@media (max-width: 900px) {
  .option__title {
    font-size: 17px;
  }
}

/*---------------Products---------------*/
.products {
  width: 100%;
}
.products__header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 15px 0px;
}
.products__column {
  flex: 0 1 33.33%;
}
.products__item {
  height: 100%;
}
@media (max-width: 700px) {
  .products__header {
    flex-direction: column;
    padding: 0px 0px 30px 0px;
  }
  .products__search {
    margin: 0px 0px 10px 0px;
  }
}
@media (min-width: 700px) {
  .products__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .products__column {
    padding: 0 15px;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .products__header {
    padding: 0px 0px 20px 0px;
  }
  .products__column {
    margin: 0 0 15px 0;
  }
}
@media (max-width: 700px) {
  .products__column {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 1200px) {
  .products__column {
    flex: 0 1 50%;
  }
}

.search {
  display: flex;
  border: 1px solid rgba(139, 139, 139, 0.2509803922);
  height: 30px;
}
.search__field {
  width: 160px;
  padding: 0 10px;
}
.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(139, 139, 139, 0.2509803922);
  width: 30px;
  cursor: pointer;
}
.search__button path {
  transition: all 0.2s ease;
  stroke: rgba(107, 107, 107, 0.7176470588);
}
.search__button:hover path {
  stroke: #b2b2b2;
}
.search__button svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 900px) {
  .search {
    height: 40px;
  }
  .search__field {
    width: 200px;
  }
  .search__button {
    width: 35px;
  }
}
@media (max-width: 700px) {
  .search__field {
    width: 100%;
  }
  .search__button {
    width: 40px;
  }
}

.sort {
  display: flex;
  justify-content: center;
  height: 30px;
}
.sort__sort-select {
  padding: 0 5px;
  border: 1px solid rgba(179, 179, 179, 0.2509803922);
  width: 100%;
  font-family: Montserrat;
}
@media (max-width: 900px) {
  .sort {
    height: 40px;
  }
}

.item-product {
  display: flex;
  flex-direction: column;
}
.item-product__item-image {
  display: block;
  padding: 0 0 100% 0;
  margin: 0px 0px 20px 0px;
}
.item-product__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
}
.item-product__link {
  color: #242424;
}
.item-product__title {
  margin: 0px 0px 10px 0px;
  font-size: 17px;
  font-weight: 700;
}
.item-product__price:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-product__out-of-stock {
  color: rgb(225, 0, 0);
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 700px) {
  .item-product__item-image {
    margin: 0px 0px 30px 0px;
  }
}
.item-product img {
  transition: 0.5s;
}
.item-product img:hover {
  transform: scale(1.1);
}

/*---------------Pagination---------------*/
.pagination__body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.pagination__button:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.pagination__link.active {
  background-color: #000000;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */